.faq {
    display: flex;
    width: 100%;
    background-color: #fff;
    justify-content: center;
    padding: 8rem 0;
}

.centralizar {
    flex-direction: column;
    align-items: center;
    display: flex;
}

.titulo {
    font-size: 2.4rem;
    text-align: center;
    max-width: 46rem;
    line-height: 2.9rem;
    margin-bottom: 2.7rem;
    font-weight: 700;
}

.list {
    display: flex;
    width: 100%;
    max-width: 85rem;
    gap: 1.6rem;
    flex-direction: column;
}

.dica {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 2.5rem;
    font-size: 1.8rem;
    gap: 1.8rem;
    width: 100%;
    cursor: pointer;
    color: #242424;
    transition: all 0.5s;
}

.question {
    background-image: url('../../assets/mais.svg');
    background-repeat: no-repeat;
    background-position: right center;
    transition: all 0.5s;
    padding-right: 2.5rem;
    margin: 0;
}

.dica.aberto {
    background-color: var(--color-accent);
    color: #fff;
}

.dica.aberto .question {
    background-image: url('../../assets/menos.svg');
    background-position: calc(100% - 1px) center;
    font-weight: 700;
}

.answer {
    display: flex;
    font-size: 1.6rem;
    line-height: 1.6;
    margin: 0;
}

.texto {
    font-size: 1.8rem;
    text-align: center;
    color: #818181;
    max-width: 66rem;
    line-height: 2.3rem;
    padding-top: 5rem;
}

@media (max-width: 700px) {
    .faq {
        padding: 4rem 0;
    }

    .titulo {
        font-size: 2.2rem;
        padding: 0 2rem;
    }

    .dica {
        padding: 2rem;
        font-size: 1.6rem;
    }

    .question {
        padding-right: 3.5rem;
    }

    .answer {
        font-size: 1.4rem;
    }

    .texto {
        font-size: 1.6rem;
        padding: 3rem 2rem 0;
    }
}