.footer {
    background-color: #000;
    color: #fff;
    padding: 4rem 0;
}

.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

.logos {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.logoIcon {
    height: 3rem;
    filter: brightness(0) invert(1);
}

.logoName {
    height: 2.8rem;
    filter: brightness(0) invert(1);
}

.copy {
    color: #818181;
    font-size: 1.4rem;
}

@media (max-width: 700px) {
    .inner {
        flex-direction: column;
        text-align: center;
    }

    .copy {
        font-size: 1.2rem;
    }
}